<h1><%= t_editing_model :user %></h1>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<%= link_to t('app.show'), @user %> |
<%= link_to t('app.back'), users_path %>
